@tailwind components;
@tailwind utilities;

.backdrop {
  @apply flex items-center justify-center absolute bg-neutral-700 bg-opacity-40 mt-[120px] top-0 left-0 h-full w-full;
}
.modal {
  @apply h-64 w-[95%] bg-gradient-to-r from-[#f7cb6b] to-[#fba980] rounded-md shadow-md opacity-0 relative;
}
.closeIcon {
  @apply absolute top-1 right-2 cursor-pointer fill-slate-100;
}

.modal,
.backdrop {
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}
.tip {
  @apply text-sm text-center my-2;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
