@tailwind components;
@tailwind utilities;

.backdrop {
  @apply flex items-center justify-center absolute bg-neutral-700 bg-opacity-40 mt-[120px] top-0 left-0 h-full w-full z-10;
}
.modal {
  @apply h-64 w-[95%] max-w-[500px] bg-gradient-to-r from-lighterYellow to-darkerYellow rounded-md shadow-md opacity-0 relative z-10;
}
.closeIcon {
  @apply absolute top-1 right-2 cursor-pointer fill-slate-100;
}

.modal,
.backdrop {
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}
.tip {
  @apply text-sm text-center my-2;
}
.foodDes {
  @apply text-center text-[17px] font-OSans p-1 mt-5 text-neutral-800;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
